body, *{
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
img{
    margin: 0;
    vertical-align: bottom;
}
.header{
    background-color: #dcdce5;
}
a{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}
.header__container{
    background-color: #ffffff;

}
.container{
    max-width: 600px;
}
.pt13{
    padding-top: 13px;
}
.pb13{
    padding-bottom: 13px;
}
.pl30{
    padding-left: 30px;
}
.pr30{
    padding-right: 30px;
}
.contact{
    text-align: right;
}
.contact{
    font-size: 16px;
    color: rgb(37, 37, 44);
    font-weight: bold;
    line-height: 1.5;
}
.contact span a{
    padding-left: 9px;
}
p{
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    line-height: 1.385;
}
.main{
    height: 50px;
    background-color: #f5f5f5;
} 
.about{
    background-color: #f5f5f5;
}
.about__container{
    background-color: #ffffff;
}
.pb23{
    padding-bottom: 23px;
}
.pb10{
    padding-bottom: 10px;
}
.pl28{
    padding-left: 28px;
}
.pt36{
    padding-top: 36px;
}
.pb36{
    padding-bottom: 36px;
}
.pt38{
    padding-top: 38px;
}
.pb30{
    padding-bottom: 30px;
}
.pt28{
    padding-top: 28px;
}
.pb25{
    padding-bottom: 25px;
}
.title{
    font-size: 24px;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1;
}
.text{
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.714;
    text-align: left;
    font-style: normal;
}
.max{
    width: 100%;
}
.max p{
    max-width:239px;
}
.btn{
    display: inline-block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.715;
    text-align: center;
    background-image: url('../img/btn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 131, 0);
    min-width: 180px; 
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 24px;
}
.name{
    font-size: 14px;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1.286;
    padding-bottom: 10px;
}
.t{
    color: rgb(102, 102, 102);
    line-height: 1.385;
    text-align: center;
    width: 100%;
      
}
.house__title{
    font-size: 16px;
    color: rgb(31, 31, 86);
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 20px;
}
.house__text{
    color: rgb(153, 153, 166);
    line-height: 1.462;
    font-style: normal;
}
.pr{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    padding-bottom: 13px;
    text-align: center;
    display: inline-block;
}
.white{
    display: inline-block;
    color: rgb(255, 255, 255);
    line-height: 1.538;
    text-align: center;
    padding-bottom: 12px;
}
.btn2{
    font-size: 14px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    width: 170px;
    text-decoration: none;
    vertical-align: center ;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(31, 31, 86);
    background-image: url('../img/btn2.png');
    border-radius: 20px;
}
.copy{
    font-size: 13px;
    color: rgb(153, 153, 166);
    line-height: 1.385;
    text-align: center; 
    font-style: normal;   
}
.end{
    font-size: 11px;
    color: rgb(253, 131, 0);
    line-height: 1.636;
      
}